<h1>Find a film <small>to watch online in the UK</small></h1>

<%= form_tag '/', :method => :get do %>
  <%= text_field_tag :query, params[:query], :placeholder => 'Film or TV series title' %>
  <%= button_tag 'Find Film' %>
<% end %>

<p>Searches <%= FilmQuery.sources.map { |s| link_to s.name, s.url
}.to_sentence.html_safe %> for the film or TV series you want to watch.</p>

<% if searched? %>
  <hr />
  <% if unavailable_sources.present? %>
    <p><em>Note: <%= unavailable_sources.map { |s| link_to s.name, s.url
}.to_sentence.html_safe %> <%= unavailable_sources.size == 1 ? 'was' : 'were' %> unavailable for this search.</em></p>
  <% end %>

  <% if films.present? %>
    <h2>Films or TV series matching '<%= params[:query] %>'</h2>
    <ol>
      <% films.each do |film| %>
        <li>
          <h3><%= film.title %></h3>
          <ul class="rentals">
            <% film.rentals.each do |rental| %>
              <li class="rental">
                <h4><%= link_to rental.service, rental.url %></h4>
                <%= link_to rental.url do %>
                  <% if rental.image_url.present? %>
                    <%= image_tag rental.image_url, :alt => rental.title %>
                  <% end %>
                <% end %>
                <% if rental.prices %>
                  <ol>
                    <% rental.prices.each do |price| %>
                      <li><%= price %></li>
                    <% end %>
                  </ol>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ol>
  <% else %>
    <h2>No films found for '<%= params[:query] %>'</h2>
  <% end %>
<% end %>

