<%= form_tag '/', :method => :get do %>
  <label>Search</label>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag 'Search for film' %>
<% end %>

<% if searched? %>
  <ol>
    <% films.each do |film| %>
      <li>
        <h3><%= film.title %></h3>
        <ol>
          <% film.rentals.each do |rental| %>
            <li>
              <%= link_to "#{rental.price} from #{rental.service}", rental.url %>
            </li>
          <% end %>
        </oL>
      </li>
    <% end %>
  </ol>
<% end %>
