<hr />

<% if unavailable_sources.present? %>
  <p><em>Note: <%= unavailable_sources.map { |s| link_to s.name, s.url
}.to_sentence.html_safe %> <%= unavailable_sources.size == 1 ? 'was' : 'were' %> unavailable for this search.</em></p>
<% end %>

<% if films.present? %>
  <h2>Films or TV series matching '<%= params[:query] %>'</h2>
  <ol>
    <% films.each do |film| %>
      <li class="film">
        <div class="film-info">
          <h3><%= film.title %></h3>
          <% if film_meta_data(film).present? %>
            <ul class="meta-data-list">
              <% film_meta_data(film).each do |md| %>
                <li class="meta-data"><%= md %></li>
              <% end %>
            </ul>
          <% end %>
          <% if film.image_url.present? %>
            <%= image_tag film.image_url, :alt => film.title %>
          <% end %>
        </div>
        <div class="film-availability">
          <ul>
            <% film.rentals.sort.each do |rental| %>
              <li>
                <h4><%= link_to rental.service, rental.url %></h4>
                <% if rental.prices %>
                  <ol class="price-list">
                    <% rental.prices.each do |price| %>
                      <li class="price"><%= link_to price, rental.url %></li>
                    <% end %>
                  </ol>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  </ol>
<% else %>
  <h2>No films found for '<%= params[:query] %>'</h2>
<% end %>

