<!DOCTYPE html>
<html>
<head>
  <title>Find a film</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h1>Find a film <small>to watch online in the UK</small></h1>

  <%= form_tag search_path, :method => :get do %>
    <%= text_field_tag :query, params[:query], :placeholder => 'Film or TV series title' %>
    <%= button_tag 'Find Film' %>
  <% end %>

  <p>Searches <%= FilmQuery.sources.map { |s| link_to s.name, s.url
  }.to_sentence.html_safe %> for the film or TV series you want to watch.</p>

  <hr />

  <%= yield %>
</div>

<footer>
  <div class="container">
    <p>
      Wonky page scraping by <%= link_to '@joelchippindale', 'https://twitter.com/joelchippindale' %>.
      Report issues <%= link_to 'here', 'https://github.com/mocoso/film-finder/issues' %>.
    </p>
  </div>
</footer>
</body>
</html>
